<div style="display:block;float:left;">
<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :place_name %><br />
    <%= f.text_field :place_name %>
    <input type="button" value="Search" onclick="admincodeAddress()">
  </div>
  
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </div>
  
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Back', places_path %>
</div>
<div style="display:block;float:left;margin-left:3em;width:50%">
  <div id="map_canvas" style="width: 100%; height: 480px;"></div>
</div>
<% end %>
