<% if user_signed_in? %>
<h1>ADMIN</h1>

<table>
  <tr>
  <th>Place</th><th>Status</th><th></th><th></th>
  </tr>
  <% @places.each do |place| %>
  <tr>
    <td><%= link_to place.place_name, place_path(place) %></td>
    <td><%= place.status %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Delete', place_path(place), :method => :delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
<br />
<%= link_to 'Add New Place', new_place_path %> |
<%= link_to('Logout', destroy_user_session_path) %>
<% else %>
  <%= link_to 'Sign-in', user_session_path %> | 
  <%= link_to 'Create request', new_place_path%><br /><br />
  <div>
      Enter Location:
     <%= form_tag(search_places_path,:method => :get, :remote => true) do%>
      <%= text_field :place, :place_name %>
      <%= submit_tag 'Search' %>
     <% end %>
     
   </div>
   <div id="map_canvas"></div>
<% end %>
